.container {
  min-height: 100vh;
  background-color: black;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.gallery-item--large {
  grid-column: span 2;
  grid-row: span 2;
}

.polaroid {
  padding: 16px 8px 48px 8px;
  background-color: white;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.mini {
    aspect-ratio: 54 / 86;
    & > img {
      aspect-ratio: 46 / 62;
    }
  }

  &.square {
    aspect-ratio: 72 / 87;
    & > img {
      aspect-ratio: 1 / 1;
    }
  }

  &.wide {
    aspect-ratio: 108 / 86;
    & > img {
      aspect-ratio: 99 / 62;
    }
  }
}
